{% extends 'AdminMainBundle::layout.html.twig' %}

{% block action %}
    {{ backActionButton(path('adm_layout_zone'), 'List Zones') }}
    {{ createActionButton(path('adm_layout_create', {'id-zone': id_zone}), 'Create Box') }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('adm_layout_zone') }}">{{ 'Layout' | trans }}</a></li>
    <li><strong>{{ zone.title }}</strong></li>
{% endblock %}

{% block body %}

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{{ 'Layout' | trans }}: <span>{{ zone.title }}</span></h5>
        </div>
        <div class="ibox-content">
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th width="180">{{ 'Actions' | trans }}</th>
                    <th width="50">{{ 'Id' | trans }}</th>
                    <th>{{ 'Title' | trans }}</th>
                    <th width="100" class="text-right">{{ 'Priority' | trans }}</th>
                    <th width="120">{{ 'Status' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr id="row-{{ entity.id }}">
                        <td>
                            {{ editTableButton(path('adm_layout_box', {idWidget: entity.id}), 'Edit' | trans) }}
                            {{ removeTableButton('#', 'Delete' | trans, { id: 'remove-' ~ entity.id, class: 'remove-object' }) }}
                        </td>
                        <td>{{ entity.id }}</td>
                        <td><a href="{{ path('adm_layout_box', {idWidget: entity.id}) }}">{{ entity.title }}</a></td>
                        <td class="text-right">{{ entity.priority }}</td>
                        <td>{{ toggleStatus(entity, path('adm_layout_widgets_status')) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
