{% extends 'AdminMainBundle::layout.html.twig' %}

{% block action %}
    {{ parent() }}
    {{ createActionButton(path('adm_layout_zone_create'), 'Create Zone') }}
{% endblock %}

{% block body %}

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{{ title | trans }}</h5>
        </div>
        <div class="ibox-content">
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <th width="180">{{ 'Actions' | trans }}</th>
                    <th width="50">{{ 'Id' | trans }}</th>
                    <th>{{ 'Title' | trans }}</th>
                    <th width="120">{{ 'Status' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr id="row-{{ entity.id }}">
                        <td>
                            {{ editTableButton(path('adm_layout_zone_edit', {idZone: entity.id}), 'Edit' | trans) }}
                            {#{{ removeTableButton('#', 'Delete' | trans, { id: 'remove-' ~ entity.id, class: 'remove-object' }) }}#}
                        </td>
                        <td>{{ entity.id }}</td>
                        <td><a href="{{ path('adm_layout_widgets', {idZone: entity.id}) }}">{{ entity.title }}</a></td>
                        <td>{{ toggleStatus(entity, path('adm_layout_zone_status')) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
