{% extends 'AdminMainBundle::layout.html.twig' %}

{% block action %}
    {{ backActionButton(path('adm_layout_zone'), 'List Widgets Zones' | trans) }}
    {{ createActionButton(path('adm_layout_zone_create'), 'Create Widget Zone' | trans) }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('adm_layout_zone') }}">{{ 'Widgets Zones' | trans }}</a></li>
    <li><strong>{% if zone.id > 0 %}{{ 'Edit Zone' | trans }}{% else %}{{ 'Create Widget Zone' | trans }}{% endif %}</strong></li>
{% endblock %}

{% block body %}
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{{ title | trans }}</h5>
        </div>
        <div class="ibox-content">

            {% include 'AdminMainBundle:Partials:flash-messages.html.twig' %}

            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {{ form_widget(form) }}

            <div class="form-group">
                <div class="col-xs-10 col-xs-offset-2">
                    <input type="submit" class="btn btn-success" value="{{ 'Save' | trans }}">
                </div>
            </div>

            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
