{% if is_granted('ROLE_SUPER_ADMIN') %}

    {% if widgetItems | length > 0 %}
        <li{% if match('layout', route) %} class="active"{% endif %}>
            <a href="{{ path('adm_layout_zone') }}">
                <i class="fa fa-diamond"></i>
                <span class="nav-label">{{ 'Layout' | trans }}</span>
            </a>
            <ul class="nav nav-second-level collapse">
                {% for item in widgetItems %}
                    <li>
                        <a href="{{ path('adm_layout_widgets', {idZone: item.id}) }}">
                            <span class="nav-label">{{ item.title | trans }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% else %}
        <li{% if match('layout', route) %} class="active"{% endif %}>
            <a href="{{ path('adm_layout_zone') }}">
                <i class="fa fa-diamond"></i>
                <span class="nav-label">{{ 'Layout' | trans }}</span>
            </a>
        </li>
    {% endif %}
{% endif %}
